/* veliki citat sa slikom */
.quote-box {
  background: #252525;
  color: #e5e5e5;
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 20px 0;
  padding: 20px;
}

.quote-box img {
  flex: 0 0 auto;
  user-select: none;
}

.quote-author {
  margin-top: 8px;
  display: inline-block;
}

.quote-author a {
  color: #888;
  text-decoration: none;
  transition: 0.3s;
}

.quote-author a:hover {
  color: darkkhaki;
}

.more-info {
  font-size: 16px;
}

.source-value {
  color: #c5c5c5;
  font-style: italic;
}

.quote-text {
  margin: 0;
  white-space: pre-line;
}

.small-quote .quote-text::first-letter {
  font-size: 1.4em;
  color: darkred;
  margin-right: 2px;
  vertical-align: sub;
}

.first-line .quote-text::first-line {
  color: darkred;
}

.small-quote .quote-author {
  font-size: smaller;
}

.big-quote .quote-text {
  /* display: flow-root; */
  font-size: 1.2em;
  font-weight: bold;
}

.big-quote .quote-author {
  font-size: 1.17em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  font-weight: bold;
  display: block;
}

.icons {
  float: right;
  white-space: nowrap;
}

.icons a {
  padding: 4px;
  display: inline-block;
}

.edit-icon {
  display: inline-block;
  transform: rotateZ(90deg);
}

@media (min-width: 800px) {
  .quote-box {
    flex-wrap: nowrap;
    padding: 40px 60px;
  }
  .quote-box img {
    object-fit: contain;
    margin-right: 40px;
  }
  .author-info {
    float:right;
    margin:0 15px;
    width:350px;
  }
  .big-quote .quote-text {
    font-size: 1.5em;
  }
}
