header h3 {
  margin: 0;
  display: inline-block;
}

.site-info {
  padding-bottom: 18px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  vertical-align: text-bottom;
}

.info-text {
  margin-bottom: 0;
}

nav a, .choose-lang label {
  display: block;
}

nav a {
  padding: 4px;
}

nav .active {
  font-weight: bold;
}

@media(min-width: 800px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .site-info {
    padding-bottom: 0;
  }
  nav a, .choose-lang label {
    display: inline-block;
  }
  nav a {
    padding: 20px;
  }
  .choose-lang label {
    margin-left: 10px;
    padding: 2px;
  }
}
