header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "i i" "n l";
}

.header-info {
  grid-area: i;
}

nav {
  grid-area: n;
}

.header-lang {
  grid-area: l;
}

header h3 {
  display: inline-block;
}

.logo {
  vertical-align: text-bottom;
}

.info-text {
  margin-bottom: 0;
}

.header-lang label {
  margin-top: 8px;
}

nav a, .header-lang label {
  display: block;
}

nav a {
  padding: 8px 0;
  /* margin: 4px; */
}

nav .active {
  font-weight: bold;
}

footer {
  text-align: center;
}

@media(min-width: 800px) {
  header {
    grid-template-areas: "i l" "n n";
  }
  nav a, .header-lang label {
    display: inline-block;
  }
  .header-lang {
    text-align: right;
  }
  .header-lang label {
    margin-left: 10px;
    padding: 2px;
  }
  nav a {
    padding: 10px;
    margin: 0 8px 0 0;
  }
  footer {
    text-align: left;
  }
}
