.App {
  padding: 0 20px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-template-areas:
  "m"
  "s"
  "f";
}

footer {
  margin-top: 20px;
  grid-area: f;
}

.quote-box {
  background: #252525;
  color: #e5e5e5;
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 20px 0;
  padding: 0 25px 25px;
}

.quote-box img {
  flex: 0 0 auto;
  user-select: none;
}

.author-info {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
  padding: 15px 15px 0;
  text-align: center;
}

@media (min-width: 1200px) {
  .App {
    grid-gap: 40px;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "s m"
    "s f";
    min-height: 100vh;
  }
  .main-section {
    grid-area: m;
  }
  .sidebar {
    grid-area: s;
  }
}
