.App {
  padding: 10px 20px 20px;
}

footer {
  display: none;
}

.quote-box {
  background: #252525;
  color: #e5e5e5;
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 20px 0;
  padding: 0 25px 25px;
}

.quote-box img {
  flex: 0 0 auto;
}

.author-info {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
  padding: 15px 15px 0;
  text-align: center;
}

@media (min-width: 800px) {
  .quote-box {
    flex-wrap: nowrap;
    padding: 40px 60px;
  }
  .quote-box img {
    object-fit: contain;
    margin-right: 40px;
  }
  .author-info {
    float:right;
    margin:0 15px;
    width:350px;
  }
}

@media (min-width: 1200px) {
  .App {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0;
  }
  .main-section {
    order: 2;
    right: 0;
    width: 74%;
    /* grid to keep footer down */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  footer {
    display: block;
    padding-top: 20px;
  }
  .sidebar {
    width: 22%;
  }
}
