.App {
  padding: 0 20px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-template-areas:
  "m"
  "s"
  "f";
}

footer {
  margin-top: 20px;
  grid-area: f;
}

.author-info {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
  padding: 15px 15px 0;
  text-align: center;
}

@media (min-width: 1200px) {
  .App {
    grid-gap: 40px;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
    "s m"
    "s f";
    min-height: 100vh;
  }
  .main-section {
    grid-area: m;
  }
  .sidebar {
    grid-area: s;
  }
}
